.page {
  margin: 0 auto;
  padding: 0 120px;
  color: 101010;
  font-family: 'Fira Sans', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.25;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  position: relative;
}

@media screen and (max-width:1200px) {
  .page {
    padding: 0 80px;
  }
}

@media screen and (max-width:768px) {
  .page {
    padding: 0 40px;
  }
}

@media screen and (max-width:480px) {
  .page {
    padding: 0 20px;
  }
}
