<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="solredirect">
                    <add key="/solutions/consolidated-reporting" value="/consolidated-reporting.html" />
                    <add key="/solutions/budget" value="/budget.html" />
                    <add key="/solutions/kadry" value="/kadry.html" />
                    <add key="/solutions/government-purchases" value="/government-purchases.html" />
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <rule name="Redirect rule1 for solredirect">
                    <match url=".*" />
                    <conditions>
                        <add input="{solredirect:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Redirect" url="{C:1}" appendQueryString="false" />
                </rule>
                <rule name="Redirect http to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
