.header__list-item {
  margin: 0;
  text-align: center;
  height: 100%;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width:960px) {
  .header__list-item {
    margin: 12px;
  }
}