.scroll-up {
  width: 48px;
  height: 48px;
  opacity: 0;
  transition-duration: 0.5s;
  visibility: hidden;
  position: fixed;
  right: 28px;
  bottom: 38px;
  border-radius: 6px;
}

.scroll-up_visible {
  opacity: 1;
  visibility: visible;
}
