.selection__content-list {
  grid-column: 2;
  font-weight: normal;
  margin: 2px 0;
  padding-left: 24px;
  position: relative;
}

.selection__content-list:last-of-type {
  margin-bottom: 0px;
}

.selection__content-list::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #009966;
  border-radius: 50%;
  top: 6px;
  left: 0;
  position: absolute;
}

@media screen and (max-width:1024px) {
  .selection__content-list  {
    grid-column: 1;
  }
}