.news__content {
  margin: 75px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr );
  grid-gap: 32px;

  display: -ms-grid;
  -ms-grid-columns: 1fr 32px 1fr 32px 1fr ;
  -ms-grid-rows: 1fr;
}

@media screen and (max-width:1200px) {
  .news__content{
    grid-gap: 24px;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr ;
    -ms-grid-rows: 1fr;
  }
}

@media screen and (max-width:1040px) {
  .news__content{
    grid-template-columns: repeat(1, 1fr );
    margin: 48px auto;

    -ms-grid-columns: 1fr;
    -ms-grid-rows: 1fr 24px 1fr 24px 1fr;
  }
}
