@import url(./__wrapper/icon__wrapper.css);
@import url(./__link/icon__link.css);
@import url(./__container/icon__container.css);
@import url(./__img/icon__img.css);
@import url(./__text/icon__text.css);


.icon {
  width: 100%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;

  /* IE */
	display: -ms-grid;
  -ms-grid-columns: 1fr 1px 1fr 1px 1fr 1px 1fr;
  -ms-grid-rows: 1fr;
}

@media screen and (max-width:1263px) {
  .icon {
    max-width: 85%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:660px) {
  .icon {
    max-width: 80%;
    grid-template-columns: repeat(1, 1fr);
  }
}