@import url(./__slider/customers__slider.css);
@import url(./__container/customers__container.css);
@import url(./__item/customers__item.css);
@import url(./__image/customers__image.css);
@import url(./__name/customers__name.css);
@import url(./__touch-img/customers__touch-img.css);

.customers {
  padding: 90px 0;  
  min-width: 0;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

@media screen and (max-width:768px) {
  .customers{
    padding: 64px 0;
  }
}
