.selection__list {
  display: flex;
  width: 100%;
  padding: 0;
  list-style: none;
  margin: 0 0 75px;
}

@media screen and (max-width:1024px) {
  .selection__list {
    flex-direction: column;
    border: none;
  }
}

@media screen and (max-width:768px) {
  .selection__list {
    margin-bottom: 48px;
  }
}