.indicators__number {
  font-family: 'Oswald';
  font-weight: 500;
  font-size: 64px;
  line-height: 1.4;
  color: #FFD05B;
  margin: 0 auto 10px;
  position: relative;
}

.indicators__number::after {
  content: "";
  width: 100%;
  height: 2px;
  background: rgba(254, 254, 254, 0.5);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width:960px) {
  .indicators__number {
    font-size: 48px;
  }
}