.partners__logo {
  max-width: 234px;
  width: 100%;
  height: initial;
  max-height: 48px;
  object-fit: contain;
  cursor: pointer;
  transition-duration: .15s;
}

.partners__logo:hover {
  transform: scale(1.05);
}
