.selection__news-date {
  font-family: 'Oswald', sans-serif;
  margin: 32px 0 16px;
  font-size: 20px;
  font-weight: 500;
}

.selection__news-date_empty {
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  color: #dadada;
}