.background_light-green {
}

.background_light-green:before {
  content: "";
  width: calc(100% + 240px);
  height: 100%;
  position: absolute;
  top: 0;
  left: -120px;
  z-index: -1;
  background-color: #F0F5F3;
}

@media screen and (max-width:1200px) {
  .background_light-green:before {
    width: calc(100% + 160px);
    left: -80px;
  }
}

@media screen and (max-width:768px) {
  .background_light-green:before {
    width: calc(100% + 80px);
    left: -40px;
  }
}

@media screen and (max-width:480px) {
  .background_light-green:before {
    width: calc(100% + 40px);
    left: -20px;
  }
}