@import url(./__wrapper/typical__wrapper.css);
@import url(./__title/typical__title.css);
@import url(./__subtitle/typical__subtitle.css);
@import url(./__text/typical__text.css);
@import url(./__list/typical__list.css);
@import url(./__image/typical__image.css);
@import url(./__link/typical__link.css);

.typical {
  padding: 140px 0 90px;
  margin: 0 auto;
}

@media screen and (max-width:1024px) {
  .typical {
    padding-top: 128px;
  }
}

@media screen and (max-width:768px) {
  .typical {
    padding: 128px 0 64px;
  }
}