@import url(./__content/indicators__content.css);
@import url(./__item/indicators__item.css);
@import url(./__number/indicators__number.css);
@import url(./__text/indicators__text.css);

.indicators {
  background-image: url(../../images/indicators.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -120px;
  margin-right: -120px;
  min-height: 400px;
  display: flex;
  align-items: center;
  padding: 30px;
}

@media screen and (max-width:1200px) {
  .indicators {
    margin-left: -80px;
    margin-right: -80px;
  }
}

@media screen and (max-width:768px) {
  .indicators {
    margin-left: -40px;
    margin-right: -40px;
  }
}

@media screen and (max-width:480px) {
  .indicators {
    margin-left: -20px;
    margin-right: -20px;
  }
}