.news__item {
  background-color: #fefefe;
  border-radius: 4px;
  padding: 32px 24px 48px;
  position: relative;
  text-align: left;
  border: 2px solid #fff;
}

.news__item::after {
  content: "";
  width: calc(100% + 4px);
  height: 4px;
  border-radius: 0 0 4px 4px;
  background: linear-gradient(90deg, #009966 1.56%, rgba(23, 199, 93, 0.8) 100%);
  position: absolute;
  left: -2px;
  bottom: -2px;
}

.news__item:nth-child(1) {
  -ms-grid-column: 1;
	-ms-grid-row: 1;
}

.news__item:nth-child(2) {
	-ms-grid-column: 3;
	-ms-grid-row: 1;
}

.news__item:nth-child(3) {
	-ms-grid-column: 5;
	-ms-grid-row: 1;
}

@media screen and (max-width:1300px) {
  .news__item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  
  .news__item:nth-child(2) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
  }
  
  .news__item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }

  .news__item:nth-child(4) {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
  }
}


@media screen and (max-width:880px) {
  .news__item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  
  .news__item:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  
  .news__item:nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-row: 5;
  }

  .news__item:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-row: 7;
  }
}
