.customers__touch-img {
  position: relative;
  margin: 0 0 0 auto;
  display: none;
}

.customers__touch-img::after {
  content: "";
  background-image: url(../../../images/hand_n.svg);
  background-repeat: no-repeat;
  width: 48px;
  height: 42px;
  position: absolute;
  top: -6px;
  right: 0;
}

@media screen and (max-width:680px) {
  .customers__touch-img  {
    display: block;
  }
}