@import url(./__content/header__content.css);
@import url(./__navigation/header__navigation.css);
@import url(./__list/header__list.css);
@import url(./__list-item/header__list-item.css);
@import url(./__link/header__link.css);

.header {
  width: 100%;
  min-height: 80px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}

@media screen and (max-width:960px) {
  .header {
    font-size: 18px;
  }
}
