.indicators__content {
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  /* IE  */
  -ms-flex-align: center;
  height: 400px;
}

@media screen and (max-width:960px) {
  .indicators__content {
    flex-direction: column;
    height: 500px;
    justify-content: center;
  }
}